body {
    background-color: blue;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
}

#scoreKeeper {
    background-color: aqua;
    padding: 20px;
    border-radius: 20px;
}




#gameStatus {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
}

#gameButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 50px;
}

/* Div to hold all player elements */
.playerDiv {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
}

/* Toggled on/off to highlight current top scorer */
.topScorer {
    background-color: blueviolet;
}

/* Div to hold player total and other info */
.playerData {
    display: flex;
    flex-direction: column;
}

.playerTotal {
    font-size: 2rem;
}

/* Other info holds the player's name and the limit they are playing towards */
.playerOtherInfo {
    display: flex;
    flex-direction: column;
}

.playerName {
    background-color: aliceblue;
}

.playerLimit {
    font-size: 0.7rem;
}

.score1Button {
    background-color: orange
}

.score2Button {
    background-color: green;
}

.score3Button {
    background-color: purple;
}



.playerButtons {
    display: flex;
    flex-direction: column;
}