body {
    background-color: blue;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-family: sans-serif;
    box-sizing: border-box;
    
}

#scoreKeeper {
    background-color: aqua;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameTitle {
    font-size: 2.25rem;
}

#numPlayersDiv {
    display: flex;
    flex-direction: row;
}

#gameStatus {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
}

#gameButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 20px;
}

/* Div to hold all player elements */
.playerDiv {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

/* Toggled on/off to highlight current top scorer */
.topScorer {
    background-color: blueviolet;
}

/* Div to hold player total and other info */
.playerData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(223, 221, 221);

    border-radius: 10px 0 0 10px;
}

.playerTotal {
    font-size: 2.5rem;
    text-align: center;
}

/* Other info holds the player's name and the limit they are playing towards */
.playerOtherInfo {
    display: flex;
    flex-direction: column;
    
    padding: 10px;
}

.playerName {
    padding-bottom: 5px;
    font-weight: 600;
}

.playerLimit {
    font-size: 0.7rem;
}


.playerButtons {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.scoreButton {
    font-size: 1.5rem;
    color: white;
    padding: 7px;
    border-radius: 0 10px 10px 0;
    flex: 1;

    display: flex;
    align-items: center;
}

.score1Button {
    background-color: orange
}

.score2Button {
    background-color: green;
}

.score3Button {
    background-color: purple;
}

/* Toggled on/off to highlight current top scorer */
.topScorer {
    background-color: blueviolet;
}

.topScorer .playerTotal{
    font-size: 3.5rem;
}



@media(max-width: 500px){

    #gameTitle {
        font-size: 1.75rem;
    }

    #gameButtons {
        flex-direction: column;
    }

    .playerDiv {
        justify-content: stretch;
    }

    .playerData {
        flex-direction: row;
    }

    .playerTotal {
        width: 50px;
    }

    .playerButtons {
        flex-direction: row;
        align-items: stretch;
        
        text-align: center;

        justify-self: center;

        
    }

}